{block title}{$actuality->title} | Aktuality{/block}
{block content}
{include breadcrumb_nav, backlinks => $backlinks}
<h1>{$actuality->title}</h1>
<section class="actuality-detail">
	{* <img n:if="$actuality->article_image" class="actuality-image" src="{$basePath}/images/actuality/{$actuality->article_image}" /> *}
	{!$actuality->description}
</section>
{/block}	