{block title}{$actuality->title} | Aktuality{/block}
{block content}
{include breadcrumb_nav, backlinks => ['default' => "Akce"]}
<h1>{$actuality->title}</h1>
<div>
	<img n:if="$actuality->article_image" class="article_image" src="{$basePath}/images/actuality/{$actuality->article_image}" />
	{!$actuality->description}
</div>
{/block}