{block title}Programy pro veřejnost | Aktuality{/block}
{block content}
	<h1>Programy pro veřejnost</h1>
	<p>Každou neděli od 14:00<br />Védská filosofie, zpívání Haré Kršna mahámantry (mantra meditace), přednáška z Bhagavad-gíty, prostor pro vaše otázky, vegetariánská hostina, nabídka duchovní literatury, drobnosti z Indie.</p>
