{block title}Programy pro veřejnost | Aktuality{/block}
{block content}
{include breadcrumb_nav, backlinks => $backlinks}
<h1>Programy pro veřejnost</h1>
<section class="actuality-detail">
<img class="actuality-image" style="width:50%; float: right; margin: 30px 15px 0 0" src="{$basePath}/images/actuality/sf.jpg" />
{$text}
</section>
